    {% extends '::base.html.twig' %}

{% block body %}
    <h1>Partido list</h1>

    {% if entities %}
    <table class="records_list table table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('partido_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.sigla }}</td>
                <td>{{ entity.nome }}</td>
                <td>
    <a class="btn" href="{{ path('partido_show', { 'id': entity.id }) }}">show</a>
    <a class="btn" href="{{ path('partido_edit', { 'id': entity.id }) }}">edit</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="no-records-msg">
            There is no saved records
        </div>
    {% endif %}

        <a class="btn btn-success" href="{{ path('partido_new') }}">
        Create a new entry
    </a>
    {% endblock %}
