{% extends '::base.html.twig' %}

{% block body %}
    <h1>Propostas</h1>

    {% if entities %}
    <table class="records_list table table-condensed table-hover">
        <thead>
            <tr>
                <th>Candidato</th>
                <th>Título</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.candidato }}</td>
                <td>{{ entity.titulo }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('proposta_show', { 'id': entity.id }) }}">exibir</a>
                    <a class="btn btn-info" href="{{ path('proposta_edit', { 'id': entity.id }) }}">editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="no-records-msg">
            There is no saved records
        </div>
    {% endif %}

    <a class="btn btn-success" href="{{ path('proposta_new') }}">
        Novo registro
    </a>
{% endblock %}
