{% extends '::base.html.twig' %}

{% block body %}
    <h1>Candidatos</h1>

    {% if entities %}
    <table class="records_list table table-condensed table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sigla do partido</th>
                <th>Número do candidato</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nome }}</td>
                <td>{{ entity.partido.sigla }}</td>
                <td>{{ entity.numero }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('candidato_show', { 'id': entity.id }) }}">exibir</a>
                    <a class="btn btn-info" href="{{ path('candidato_edit', { 'id': entity.id }) }}">editar</a>          
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="no-records-msg">
            There is no saved records
        </div>
    {% endif %}

    <a class="btn btn-success" href="{{ path('candidato_new') }}">
        Novo registro
    </a>
{% endblock %}
