{% extends '::base.html.twig' %}

{% block body %}
    <h1>Candidato</h1>

    <table class="record_properties table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Número do candidato</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Partido</th>
                <td>{{ entity.partido }}</td>
            </tr>
            <tr>
                <th>Sigla do partido</th>
                <td>{{ entity.partido.sigla }}</td>
            </tr>
            <tr>
                <th>Cargo pretendido</th>
                <td>{{ entity.cargo }}</td>
            </tr>
            <tr>
                <th>Sobre o candidato</th>
                <td>{{ entity.sobre }}</td>
            </tr>
            {% if entity.imagem %}
                <tr>
                    <th>Foto</th>
                    <td><img height="10%" width="10%" src="{{ asset('uploads/' ~ entity.imagem) }}" /></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('candidato') }}">
        Listar registros
    </a>


    <a class="btn btn-success" href="{{ path('candidato_edit', { 'id': entity.id }) }}">
        Editar
    </a>
     
    <form action="{{ path('candidato_delete', { 'id': entity.id }) }}" method="post" style="float:right">
        <button class="btn btn-danger" type="submit" onclick="return confirm('Você tem certeza que deseja deletar este registro?');">Deletar</button>
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
    </form>
{% endblock %}
